{% extends 'base.html.twig' %}

{% block title %}Commander un billet{% endblock %}
{% block body %}
<h1 class="pt-3">Récapitulatif de votre commande</h1>
<section class="pt-3">

    Vous avez commandé le(s) billet(s) suivant(s) :

    <p>Votre visite aura lieu le {{ booking.dateOfVisit| date('d-m-Y') }}
        et vos billets sont valables pour la {{ booking.periodLabel }}</p>

    <div class="table-responsive-sm">

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Prix</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in booking.tickets %}
            <tr>
                <th scope="row">
                    {% for numberOfPeople in booking.numberOfPeople %}
                    {{ numberOfPeople }}
                    {% endfor %}</th>
                <td>{{ ticket.name }}</td>
                <td>{{ ticket.firstName }}</td>
                <td>{{ ticket.price }}</td>
            </tr>
            {% endfor %}
            <tr>

            </tbody>
        </table>

    </div>

    <div class="alert alert-success" role="alert">
        Le montant de votre commande s'élève à {{ booking.price }}
    </div>


    <div class="col-4">
        <form action="" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_ZRJFa0Zmp708tIkrvO4pqUn400kwyrqAW3"
                    data-amount="{{ booking.price * 100 }}"
                    data-name="Billetterie du Louvre"
                    data-description="Projet 4"
                    data-email="{{ booking.email }}"
                    data-image="{{ asset('img/logo_Louvre.png') }}"
                    data-locale="auto">
            </script>
        </form>
    </div>



</section>
{% endblock %}
