{% extends 'base.html.twig' %}


{% block title %}Commander un billet{% endblock %}
{% block body %}
    <h1 class="pt-3">Commander votre billet</h1>
    <div class="row">
        <div class="col-md-8">

            {{ form_start(form) }}

            {{ form_row(form.dateOfVisit) }}
            {{ form_row(form.period) }}
            {{ form_row(form.numberOfPeople) }}
            {{ form_row(form.email) }}

            <div class="alert alert-success" role="alert">
                Le nombre de billets maximum par commande est de 10
            </div>

            <button type="submit" class="btn btn-dark">Valider</button>

            {{ form_end(form) }}

        </div>

            {% include 'ticket/useful_information.html.twig' %}

    </div>

{% endblock %}
