{% extends 'base.html.twig' %}


{% block title %}Commander un billet{% endblock %}
{% block body %}
    <h1 class="pt-3">Commander votre billet</h1>
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="form">
                <div class="step-one">
                    <span class="align-middle">
                        Etape 1/3
                    </span>

                </div>

                {{ form_start(form) }}
                <div class="pt-4">
                    {{ form_row(form.dateOfVisit) }}
                <div class="radio">
                    {{ form_row(form.period) }}
                </div>

                    {{ form_row(form.numberOfPeople) }}
                    {{ form_row(form.email) }}
                </div>



            </div>

            <div class="booking-information">
                <p>
                    <span class="nbInfo">Le nombre de billets maximum par commande est de 10 </span>

                </p>
            </div>

            <button type="submit" class="btn btn-dark my-3">Valider</button>

            {{ form_end(form) }}

        </div>

            {% include 'ticket/useful_information.html.twig' %}

    </div>

{% endblock %}
